<!DOCTYPE html>  
<html>  
<head>  
    <title>List</title>  
</head>  
<body>  
<center>
<form action="/item/update" method="POST">
<table border=5>
    <thead>  
        <td>Product Id</td>  
        <td>Product Name</td>  
        <td>Product price</td>  
        <td>Product details</td> 
		<td>Product Quantity</td>
		<td>Purchase Price</td>
    </thead>  
      
    {% for row in rows %}  
      
        <tr>  
            <td>{{row["product_id"]}}</td>  
            <td>{{row["product_name"]}}</td>  
            <td>{{row["product_price"]}}</td>  
            <td>{{row["product_details"]}}</td>  
			<td>{{row["product_quantity"]}}</td> 
			<td>{{row["purchase_price"]}}</td>  			
        </tr>
    {% endfor %}  
</table>  
<br><br>
<table>
<thead>
<td> Product Id</td>
<td> Quantity</td>
</thead>
<tr>
<td><input type="text" name="product_id"></td>
<td><input type="text" name="product_quantity"></td>
<td><a href="/item/update">Submit</td>
</tr>
</table>
<table>
<thead>
<td>Sell Quantity</td>
<td>Selling price</td>
</thead>
<tr>
<td><input type="text" name="sellquantity"></td>
<td><input type="text" name="sellingprice"></td>
<td><a href="/item/update">Submit</td>
</tr>
</table>
</center>  
</form>
</body>  
</html>  