<!DOCTYPE html>  
<html>  
<head>  
    <title>Update Product Information</title>  
</head>  
<body>  
    <h2>Products Update Information</h2>   
    <form action = "/update" method="post">  
    <table>  
        <tr><td>ProductId</td><td><input type="text" name="product_id"></td></tr>  
        <tr><td>Product Price</td><td><input type="text" name="product_price"></td></tr> 
        <tr><td>Product Details</td><td><input type="text" name="product_details"></td></tr> 		
        <tr><td><input type="submit" value="Submit"></td></tr>  
    </table>  
    </form>  
</body>  
</html>  